---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import Story from '../components/Story.astro';
import Platforms from '../components/Platforms.astro';
import Partner from '../components/Partner.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <TrustBar />
    <Story />
    <Platforms />
    <Partner />
    <Contact />
  </main>
  <Footer />
</Layout>
